<template>
  <div>
    <h5 class="text-sm font-bold text-gray-900">{{ eventGroup.name }} settings</h5>

    <div
      class="mt-4"
      :class="{'rounded-lg border border-gray-300 px-4':!activeEventType}"
    >
      <div
        v-for="(eventType, index) in eventGroup.eventTypes" :key="eventType.id"
        class="py-2 border-gray-300"
        :class="dynamicListClass(eventType.id, eventGroup.eventTypes.length-1, index)"
      >
        <div
          @click="showOptionsList(eventType.id)"
          class="flex justify-between items-center cursor-pointer"
          :class="{'border-b pb-2':activeEventType === eventType.id}"
        >
          <div>
            <img
              class="inline"
              v-bind="dynamicListIcon(eventType.id)"
            >
            <span class="text-sm font-medium">{{ eventType.name }}</span>
          </div>

          <div>
            <toggle
              @click="true"
              :value="true"
            />
          </div>

        </div>

        <div
          class="cursor-default"
          v-if="activeEventType === eventType.id"
        >
          <div
            v-for="channel in notificationChannels" :key="channel.id"
            class="flex justify-between items-center mt-2">
            <span class="text-sm font-normal">{{ channel.name }}</span>
            <toggle
              @click="true"
              :value="true"
            />
          </div>
        </div>

      </div>
    </div>

  </div>
</template>

<script>
import Toggle from "../common/Toggle";
export default {
  name: "EventGroupPreferencesList",
  components: { Toggle },
  props: {
    objectId : {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      activeEventType: null
    }
  },
  computed: {
    eventGroup() {
      return this.$store.getters["notification/getEventGroupById"](this.objectId)
    },
    notificationChannels() {
      return this.$store.getters["notification/getNotificationChannels"]
    }
  },
  methods: {
    dynamicListIcon(id) {
      return {
        src: this.activeEventType !== id
          ? require('/assets/images/notifications/arrow-bottom-black.svg')
          : require('/assets/images/notifications/arrow-top-black.svg'),
        alt: 'Arrow'
      }
    },
    dynamicListClass(id, total, current) {

      if (!this.activeEventType && total !== current) {
        return 'border-b'
      } else if (this.activeEventType === id) {

        if (current === 0)
          return 'px-4 rounded-lg border mb-4';
        else if (current > 0 && total !== current)
          return 'px-4 rounded-lg border my-4';
        else
          return 'px-4 rounded-lg border mt-4';

      } else if (this.activeEventType && this.activeEventType !== id) {

        if (current === 0) {
          if (this.activeEventType === (id + 1)) {
            return 'px-4 px-4 rounded-lg border';
          } else {
            return 'px-4 rounded-t-lg border';
          }
        } else if (current > 0 && total !== current) {

          if (this.activeEventType === (id - 1)) {
            return 'px-4 rounded-t-lg border';
          } else if (this.activeEventType === (id + 1)) {
            return 'px-4 rounded-b-lg border-b border-r border-l';
          } else {
            return 'px-4 border-r border-l border-b';
          }

        } else {
          if (this.activeEventType === (id - 1)) {
            return 'px-4 px-4 rounded-lg border';
          } else {
            return 'px-4 rounded-b-lg border-b border-r border-l';
          }
        }
      }

    },
    showOptionsList(id) {
      if (this.activeEventType === id) {
        this.activeEventType = null
      } else {
        this.activeEventType = id
      }
    },

  }
}
</script>

<style scoped>

</style>
