<template>
  <span v-if="notification">
    {{ notification }}
  </span>
</template>

<script>
export default {
  name: "Notification",
  props: {
    objectId : {
      type: Number,
      required: true
    }
  },
  created() {
    this.$store.dispatch('notification/getNotification', this.objectId)
  },
  data() {
    return {

    }
  },
  computed: {
    notification() {
      return this.$store.getters['notification/notification']
    },
  },
  watch: {

  },
  methods: {

  }
}
</script>

<style scoped>

</style>
