<template>
  <div class="flex items-center">
    <div class="mr-4">
      <img
        @click="$emit('update:objectId', null)"
        class="cursor-pointer"
        :src="require('/assets/images/notifications/arrow-left-white.svg')"
        alt="Arrow"
      >
    </div>
    <div>
      <h4 class="text-base font-bold">Notification</h4>
      <span class="text-xs">something</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "NotificationHeader",
  props: {

  },
  data() {
    return {

    }
  },
  mounted() {

  },
  computed: {

  },
  watch: {

  },
  methods: {

  }
}
</script>

<style scoped>

</style>
