<template>
  <div v-if="moduleIsReady" id="notification-module">

    <notification-center
      :show-notifications-window.sync="showNotificationsWindow"
    />

    <notification-card
      v-if="showNotificationsWindow"
    >
      <template v-slot:header>
        <div class="bg-blue-700 h-24 text-white px-4 py-6 rounded-t-lg">
          <component
            :is="getHeaderContent"
            :show-settings-window.sync="showSettingsWindow"
            :object-id.sync="router.objectId"
            :object-type.sync="router.objectType"
          >
          </component>
        </div>
      </template>

      <template v-slot:body>
        <div
          @scroll="onBodyScroll"
          class="bg-white max-h-80 text-black px-6 py-4 shadow-md rounded-b-lg overflow-y-auto"
        >
          <component
            :is="getBodyContent"
            :object-id.sync="router.objectId"
            :object-type.sync="router.objectType"
            :body-bottom="isBodyBottom"
          ></component>
        </div>
      </template>

    </notification-card>

    <!-- notifications popup demo -->
    <notification-preview>
      <notification-popup
        v-if="notifications"
        v-for="notification in notifications.slice(0,3)"
        :key="notification.id"
        :notification="notification"
      />
    </notification-preview>

    <div
      v-if="showNotificationsWindow"
      @click="showNotificationsWindow = false"
      class="absolute top-0 left-0 h-screen w-screen z-40"
    />
  </div>
</template>

<script>
import NotificationCard from "./components/NotificationCard";
import NotificationCenter from "./components/NotificationCenter";

import EventGroupPreferencesList from "./components/EventGroupPreferences/EventGroupPreferencesList";
import NotificationsList from "./components/NotificationsList/NotificationsList";
import EventGroupsList from "./components/EventGroupsList/EventGroupsList";
import Notification from "./components/Notification/Notification";

import NotificationsListHeader from "./components/NotificationsList/NotificationsListHeader";
import EventGroupsListHeader from "./components/EventGroupsList/EventGroupsListHeader";
import EventGroupPreferencesListHeader from "./components/EventGroupPreferences/EventGroupPreferencesListHeader";
import NotificationHeader from "./components/Notification/NotificationHeader";

import NotificationPopup from "./components/NotificationPopup";
import NotificationPreview from "./components/NotificationPreview";

export default {
  name: "NotificationModule",
  components: {NotificationPreview, NotificationPopup, NotificationCard, NotificationCenter },
  data() {
    return {
      moduleIsReady: false,
      showSettingsWindow: false,
      showNotificationsWindow: false,
      router : {
        objectId: null,
        objectType: null
      },
      isBodyBottom: false
    }
  },
  created() {
    this.bootstrap();
  },
  computed: {

    getHeaderContent() {
      if (this.router.objectId && this.router.objectType === 'eventGroup') {
        return EventGroupPreferencesListHeader
      } else if (this.router.objectId && this.router.objectType === 'notification') {
        return NotificationHeader
      } else if (this.showSettingsWindow) {
        return EventGroupsListHeader
      } else {
        return NotificationsListHeader
      }
    },
    getBodyContent() {
       if (this.router.objectId && this.router.objectType === 'eventGroup') {
        return EventGroupPreferencesList
      } else if (this.router.objectId && this.router.objectType === 'notification') {
        return Notification
      } else if (this.showSettingsWindow) {
         return EventGroupsList
       } else {
        return NotificationsList
      }
    },
    notifications() {
      return this.$store.getters['notification/newNotifications']
    }
  },
  watch: {
    showNotificationsWindow: function () {
      this.showSettingsWindow = false
      this.router.objectId = null
      this.router.objectType = null
    },
    showSettingsWindow: function () {
      this.router.objectId = null
    }
  },
  methods: {
    onBodyScroll ({ target: { scrollTop, clientHeight, scrollHeight }}) {
      this.isBodyBottom = scrollTop + clientHeight >= scrollHeight;
    },
    async bootstrap() {
      await this.$store.dispatch('notification/getNotifications')
      this.moduleIsReady = true
    }
  }
}
</script>

<style scoped>
  #notification-module {
    font-family: 'Inter', sans-serif;
  }
</style>
