<template>
  <div class="relative">

    <div class="flex justify-between">

      <div class="inline-flex">
          <img
            class="h-10 w-10 mr-4"
            :src="require('/assets/images/notifications/bell-circle-white.svg')"
            alt="Notifications"
          >
        <div>
          <h4 class="text-base font-bold">Notifications</h4>
          <span class="text-xs">View and manage your notifications</span>
        </div>
      </div>

      <img
        @click="showHeaderOptionsMenu = !showHeaderOptionsMenu"
        class="cursor-pointer w-6 h-6"
        :src="require('/assets/images/notifications/dots-horizontal-white.svg')"
        alt="Settings"
      >

    </div>

    <div
      v-if="showHeaderOptionsMenu"
      class="header-options-menu absolute w-full z-50 md:w-72 max-h-24 top-6 rounded-lg p-2 bg-white text-black text-sm shadow-md"
    >
      <div
        v-if="newNotificationsCount"
        @click="markAllAsRead(); showHeaderOptionsMenu = false"
        class="flex items-center hover:bg-gray-200 rounded-lg p-2 cursor-pointer"
      >
        <img
          class="mr-2"
          :src="require('/assets/images/notifications/check-icon.svg')"
          alt="Check"
        >
        <span>Mark all as read</span>
      </div>
      <div
        @click="showSettings = ! showSettings; showHeaderOptionsMenu = false"
        class="flex items-center hover:bg-gray-200 rounded-lg p-2 cursor-pointer"
      >
        <img
          class="mr-2"
          :src="require('/assets/images/notifications/cog-icon.svg')"
          alt="Cog"
        >
        <span>Settings menu</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NotificationsListHeader",
  props: {
    showSettingsWindow : {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      showHeaderOptionsMenu: false,
      showSettings: false
    }
  },
  mounted() {
    this.showSettings = this.showSettingsWindow
  },
  computed: {
    newNotificationsCount() {
      return this.$store.getters["notification/newNotificationsCount"]
    }
  },
  watch: {
    showSettings: function() {
      this.$emit('update:showSettingsWindow', this.showSettings)
    },
  },
  methods: {
    markAllAsRead() {
      this.$store.commit('notification/markAsReadAll')
    }
  }
}
</script>

<style scoped>
.header-options-menu:before{
  content:'';
  display:block;
  position:absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  right: 3px;
  top:-7px;
}
</style>
