<template>
  <div
    v-if="$parent.showNotificationOptionsMenu && $parent.hoveredNotificationId === notification.id"
    class="notification-options-menu absolute w-full top-12 md:top-14 rounded-lg p-2 bg-white text-black text-sm shadow-md z-40"
  >
    <div
      @click="updateStatus(notification.id, !notification.is_read); $parent.showNotificationOptionsMenu = false"
      class="flex items-center hover:bg-gray-200 rounded-lg p-2 cursor-pointer"
    >
      <img
        class="mr-2"
        :src="require('/assets/images/notifications/check-icon.svg')"
        alt="Check"
      >
      <span>Mark as {{ notification.is_read ? 'unread' : 'read' }}</span>
    </div>
    <div
      @click="$parent.eventGroupId = notification.event_group.id"
      class="flex items-center hover:bg-gray-200 rounded-lg p-2 cursor-pointer"
    >
      <img
        class="mr-2"
        :src="require('/assets/images/notifications/cog-icon.svg')"
        alt="Settings"
      >
      <span>Notification settings</span>
    </div>
    <div
      @click="remove(notification.id); $parent.showNotificationOptionsMenu = false"
      class="flex items-center hover:bg-gray-200 rounded-lg p-2 cursor-pointer"
    >
      <img
        class="mr-2"
        :src="require('/assets/images/notifications/error-circle-icon.svg')"
        alt="Remove"
      >
      <span>Remove notification</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "NotificationsListItemOptions",
  props: {
    notification : {
      type: Object,
      required: true
    }
  },
  data() {
    return {
    }
  },
  mounted() {

  },
  computed: {

  },
  methods: {
    updateStatus(id, status) {
      this.$store.commit('notification/updateNotificationStatus', { id: id, status: status})
    },
    remove(id) {
      this.$store.commit('notification/removeNotificationById', id)
    },
  }
}
</script>

<style scoped>
  .notification-options-menu:before{
    content:'';
    display:block;
    position:absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    right: 30px;
    top:-7px;
  }
</style>
