<template>

<!-- if there is some notifications-->
  <div
    v-if="notificationsCount"
  >
    <!-- if there is some new notifications-->
    <div
      v-if="newNotificationsCount"
      class="mb-4"
    >
      <!-- show line with expand arrow -->
      <div
        @click="showNewNotifications = !showNewNotifications"
        class="flex justify-start items-center cursor-pointer mb-4"
      >
        <img
          class="mr-2"
          v-bind="dynamicListIcon(showNewNotifications)"
        >
        <h5
          class="text-sm font-bold text-gray-900"
        >
          {{ newNotificationsCount }} new notifications
        </h5>
      </div>

      <!-- show/hide notifications -->
      <div
        v-if="showNewNotifications"
      >
        <!-- list notifications -->
        <div
          v-for="notification in newNotifications" :key="notification.id"
          @mouseover="hoveredNotificationId = notification.id"
          @mouseleave="showNotificationOptionsMenu = false; hoveredNotificationId = null"
          class="relative hover:bg-gray-200 rounded-lg -m-2 p-2 mb-2 cursor-default"
        >
          <!-- notification item -->
          <notifications-list-item :notification="notification"/>
          <!-- notification options menu -->
          <notifications-list-item-options :notification="notification"/>
        </div>
      </div>
    </div>

    <!-- if there is some read notifications-->
    <div
      v-if="readNotificationsCount"
      class="mb-4"
    >
      <!-- show line with expand arrow -->
      <div
        @click="showReadNotifications = !showReadNotifications"
        class="flex justify-start items-center cursor-pointer mb-4"
      >
        <img
          class="mr-2"
          v-bind="dynamicListIcon(showReadNotifications)"
        >
        <h5
          class="text-sm font-bold text-gray-900"
        >
          Read notifications
        </h5>
      </div>

      <!-- show/hide notifications -->
      <div
        v-if="showReadNotifications"
      >
        <!-- list notifications -->
        <div
          v-for="notification in readNotifications" :key="notification.id"
          @mouseover="hoveredNotificationId = notification.id"
          @mouseleave="showNotificationOptionsMenu = false; hoveredNotificationId = null"
          class="relative hover:bg-gray-200 rounded-lg -m-2 p-2 mb-2 cursor-default"
        >
          <!-- notification item -->
          <notifications-list-item :notification="notification"/>
          <!-- notification options menu -->
          <notifications-list-item-options :notification="notification"/>
        </div>

      </div>
    </div>

    <!-- loading skeleton -->
    <img
      v-if="isNotificationsLoading"
      :src="require('/assets/images/notifications/notification-skeleton.svg')"
      alt="Loading">

  </div>
  <!-- if there is no notifications-->
  <div v-else class="flex flex-col min-h-full justify-center items-center mt-2">
    <img :src="require('/assets/images/notifications/empty-state.svg')" alt="Empty">
    <span class="mt-4 text-sm text-gray-500">Your notifications are empty</span>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import NotificationsListItem from "./NotificationsListItem";
import NotificationsListItemOptions from "./NotificationsListItemOptions";

export default {
  name: "NotificationsList",
  components: {NotificationsListItemOptions, NotificationsListItem},
  props: {
    bodyBottom: {
      type: Boolean
    }
  },
  data() {
    return {
      notificationId: null,
      hoveredNotificationId: null,
      eventGroupId: null,
      showNotificationOptionsMenu: false,
      showNewNotifications: true,
      showReadNotifications: true,
    }
  },

  computed: {

    ...mapGetters({
      meta: 'notification/meta',
      notificationsCount: 'notification/notificationsCount',
      newNotificationsCount: 'notification/newNotificationsCount',
      newNotifications: 'notification/newNotifications',
      readNotificationsCount: 'notification/readNotificationsCount',
      readNotifications: 'notification/readNotifications',
      isNotificationsLoading: 'notification/isNotificationsLoading'
    }),

  },
  methods: {

    dynamicListIcon(bool) {
      return {
        src: bool
          ? require('/assets/images/notifications/arrow-top-black.svg')
          : require('/assets/images/notifications/arrow-bottom-black.svg'),
        alt: 'Arrow'
      }
    }

  },
  watch: {
    async bodyBottom(value) {
      if (value) {
        let lastPage = this.meta.last_page;
        let nextPage = this.meta.current_page + 1;
        if (nextPage <= lastPage) {
          await this.$store.dispatch('notification/getNotifications', nextPage)
        }
      }
    },
    notificationId() {
      this.$emit('update:objectId', this.notificationId)
      this.$emit('update:objectType', 'notification')
    },
    eventGroupId: function() {
      this.$emit('update:objectId', this.eventGroupId)
      this.$emit('update:objectType', 'eventGroup')
    },
  }

}
</script>

<style scoped>

</style>
