<template>
  <div class="flex flex-row justify-between">

    <div>

      <span class="text-sm block">
        {{ notification.short_message }}
      </span>

      <div>
        <span
          class="text-xs font-bold"
          :class="[notification.is_read ? 'text-gray-500': 'text-blue-700']"
        >
          {{ notification.created_at }}
        </span>
        <span class="text-xs text-gray-500"> - {{ notification.event_group.name }}</span>
      </div>

    </div>

    <div class="flex items-center">
      <img
        v-if="$parent.hoveredNotificationId === notification.id"
        @click="$parent.showNotificationOptionsMenu = !$parent.showNotificationOptionsMenu"
        class="w-6 h-6 cursor-pointer absolute right-5"
        :src="require('/assets/images/notifications/dots-circle-white.svg')"
        alt="Settings"
      >
      <div
        v-if="!notification.is_read"
        class="h-2 w-2 rounded-full bg-blue-700"
      >
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: "NotificationsListItem",
  props: {
    notification: {
      type: Object,
      required: true
    }
  },
  data() {
    return {}
  },
  mounted() {

  },
  computed: {},
  watch: {},
  methods: {}
}
</script>

<style scoped>

</style>
