<template>
  <div class="container mx-auto">
    <div class="h-screen flex flex-col justify-center items-center">

      <h1>{{  $nuxt.$route.name }}</h1>

      <ComponentA></ComponentA>
      <ComponentB></ComponentB>

      <NuxtLink :to="{ name: 'dashboard' }" class="block hover:underline">Back</NuxtLink>

    </div>
  </div>
</template>

<script>
import ComponentA from "@/components/demo/ComponentA";
import ComponentB from "@/components/demo/ComponentB";
export default {
  name: "page3",
  components: {ComponentB, ComponentA}
}
</script>

<style scoped>

</style>
