<template>
  <div class="container mx-auto">
    <div class="h-screen flex flex-col justify-center items-center">

      <h1>{{  $nuxt.$route.name }}</h1>

      <ComponentA></ComponentA>

      <NuxtLink :to="{ name: 'dashboard' }" class="block hover:underline">Back</NuxtLink>

    </div>
  </div>
</template>

<script>
import ComponentA from "@/components/demo/ComponentA";
export default {
name: "page1",
  components: {ComponentA}
}
</script>

<style scoped>

</style>
