<template>

  <div @keyup.enter="submit" class="container mx-auto">
    <div class="min-h-screen antialiased flex flex-col justify-center items-center">
      <div class="w-full px-4 md:w-1/3 md:px-0">
        <h1 class="font-light text-center">Login to your account</h1>
        <div class="border-indigo-500 mt-4 p-8 border-t-8 bg-white mb-6 rounded-lg shadow-lg">

          <div class="mb-4">
            <label class="font-semibold text-gray-800 block mb-2" for="email">Email</label>
            <input type="text" id="email" v-model="credentials.email" class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none hover:bg-indigo-50 focus:outline-none focus:ring-1 focus:ring-indigo-600 rounded-md" placeholder="Email">
          </div>

          <div class="mb-4">
            <label class="font-semibold text-gray-800 block mb-2" for="password">Password</label>
            <input type="password" id="password"  v-model="credentials.password" class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none hover:bg-indigo-50 focus:outline-none focus:ring-1 focus:ring-indigo-600 rounded-md" placeholder="Password">
          </div>

          <div class="flex justify-between items-baseline">
            <button @click="submit" class="mt-4 bg-indigo-500 hover:bg-indigo-700 text-white py-2 px-6 rounded-lg">Login</button>
            <NuxtLink :to="{ name: 'auth-remind' }" class="text-sm hover:underline">Forgot password?</NuxtLink>
          </div>

        </div>
        <div class="text-center">
          <p class="text-gray-800 text-sm">Don't have an account? <NuxtLink :to="{ name: 'auth-register' }" class="no-underline text-blue font-semibold">Create an Account</NuxtLink>.</p>
        </div>
      </div>
    </div>

  </div>

</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "login",
  middleware: 'quest',
  data() {
    return {
      credentials : {
        email: null,
        password : null
      }
    }

  },
  methods: {

    ...mapActions({
      login: 'auth/singIn'
    }),

    async submit() {
      await this.login(this.credentials)
    }
  }

}
</script>

<style scoped>

</style>
