<template>
  <div
    class="fixed flex flex-col-reverse bottom-8 left-8 h-auto z-50"
  >
    <slot></slot>
  </div>
</template>

<script>

export default {
  name: "NotificationPreview",
  props : {

  },
  data() {
    return {

    }
  },
  computed: {

  },
  methods: {

  }
}
</script>

<style scoped>

</style>
