<template>
  <div
    class="fixed w-full md:w-80 top-20 right-0 md:right-8 px-2 md:px-0 pt-4 z-50"
  >
    <slot name="header"></slot>
    <slot name="body"></slot>
  </div>
</template>

<script>

export default {
  name: "NotificationCard",
  props : {

  },
  data() {
    return {

    }
  },
  computed: {

  },
  methods: {

  }
}
</script>

<style scoped>

</style>
