<template>
  <button
    class="fixed flex w-12 h-12 z-50 right-2 md:right-8 top-8 items-center justify-center rounded-full focus:outline-none bg-blue-700 text-white"
    @click="showNotifications = !showNotifications"
  >
    <img v-bind="dynamicWidgetIcon">
    <span
      v-if="newNotificationsCount && !showNotifications"
      class="absolute flex h-5 w-5 top-0 right-0 -mt-1 -mr-1">
      <span class="relative inline-flex h-5 w-5 justify-center items-center rounded-full bg-red-700 text-xs text-white">
        {{ newNotificationsCount }}
      </span>
    </span>
  </button>
</template>

<script>
export default {
  name: "NotificationCenter",
  props: {
    showNotificationsWindow: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      showNotifications: false
    }
  },
  mounted() {
    this.showNotifications = this.showNotificationsWindow
  },
  computed: {
    newNotificationsCount() {
      return this.$store.getters["notification/notificationsIndicatorCount"]
    },
    dynamicWidgetIcon() {
      return {
        src: this.showNotifications
          ? require('/assets/images/notifications/arrow-bottom-white.svg')
          : require('/assets/images/notifications/bell-square-white.svg'),
        alt: 'Notifications'
      }
    },

  },
  watch: {
    showNotifications: function() {
      this.$emit('update:showNotificationsWindow', this.showNotifications)
    },
    showNotificationsWindow: function(value) {
      this.showNotifications = value
    }
  },
}
</script>

<style scoped>

</style>
