<template>
  <div
    v-if="showNotificationPopup && notification"
    class="relative w-80 max-h-40 bg-white text-black p-4 shadow-md rounded-lg mb-4"
  >
    <img
      @click="showNotificationPopup = !showNotificationPopup"
      class="absolute top-2.5 right-2.5 cursor-pointer"
      :src="require('/assets/images/notifications/times-black.svg')"
      alt="Close"
    >

    <div class="flex flex-row">
      <div
        class="mr-2"
      >
        <img
          class="h-7 w-7"
          :src="require('/assets/images/notifications/event-group/affiliates.svg')"
          alt="test"
        >
      </div>
      <div>
        <span class="text-sm block">
          {{ notification.short_message }}
        </span>
        <div>
          <span
            class="text-xs font-bold text-blue-700"
          >
            {{ notification.created_at }}
          </span>
          <span class="text-xs text-gray-500"> - {{ notification.event_group.name }}</span>
        </div>

      </div>
    </div>


  </div>
</template>

<script>
export default {
  name: "NotificationPopup",
  props: {
    notification: {
      type: Object,
      required: true
    },
    timeout: {
      type: Number,
      default: 1
    }
  },
  data() {
    return {
      showNotificationPopup: true
    }
  },
  created() {
    // setTimeout(() => this.showNotificationPopup = false, this.timeout * 1000)
  },
  mounted() {

  },
  computed: {},
  watch: {},
}
</script>

<style scoped>

</style>
