<template>
  <div class="container mx-auto">

    <notification-module/>

    <div class="h-screen flex flex-col justify-center items-center">

      <h1>Dashboard</h1>

      <h4 class="mt-4" v-if="user">Logged in as: {{ user.name }}</h4>

      <div class="mt-4 text-sm text-center">
        <NuxtLink :to="{ name: 'demo-page1' }" class="block hover:underline">Page with ComponentA</NuxtLink>
        <NuxtLink :to="{ name: 'demo-page2' }" class="block hover:underline">Page with ComponentB</NuxtLink>
        <NuxtLink :to="{ name: 'demo-page3' }" class="block hover:underline">Page with both components</NuxtLink>
      </div>

      <button @click="submit" class="mt-4 bg-indigo-500 hover:bg-indigo-700 text-white py-2 px-6 rounded-lg">Logout</button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import NotificationModule from "../modules/notification/NotificationModule";

export default {
  name: "dashboard",
  components: {NotificationModule},
  middleware: 'authenticated',
  computed: {
    ...mapGetters({
      user: 'auth/getUser'
    })
  },
  methods: {

    ...mapActions({
      logout: 'auth/singOut'
    }),

    async submit() {
      await this.logout()
    }
  }
}
</script>

<style scoped>

</style>
