<template>
  <div class="container mx-auto">

    <div class="h-screen flex flex-col justify-center items-center">
      <div class="flex">

        <NuxtLink
          v-if="user"
          :to="{ name: 'dashboard' }"
          class="bg-indigo-500 hover:bg-indigo-700 text-white py-2 px-6 rounded-lg mr-5">
          Dashboard
        </NuxtLink>

        <NuxtLink
          v-else
          :to="{ name: 'auth-login' }"
          class="bg-indigo-500 hover:bg-indigo-700 text-white py-2 px-6 rounded-lg">
          Login
        </NuxtLink>

      </div>

      <div class="flex mt-4 justify-between items-baseline">

      </div>

    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import NotificationModule from "../modules/notification/NotificationModule";

export default {
  name: 'index',
  components: {NotificationModule},
  computed: {
    ...mapGetters({
      user: 'auth/getUser'
    })
  },
}
</script>

<style>

</style>
