<template>
  <label class="toggle">
    <input type="checkbox" :checked="value" @click="$emit('update', !value)">
    <span class="slider"></span>
  </label>
</template>

<script>
export default {
  name: "Toggle",
  props: {
    value : {
      type: Boolean,
      required: true
    }
  }
}
</script>

<style scoped>
.toggle {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D1D5DB;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2563EB;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2563EB;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

</style>
