<template>
  <div class="flex items-center">
    <div class="mr-4">
      <img
        @click="showSettings = ! showSettings"
        class="cursor-pointer"
        :src="require('/assets/images/notifications/arrow-left-white.svg')"
        alt="Arrow"
      >
    </div>
    <div>
      <h4 class="text-base font-bold">Notification Settings</h4>
      <span class="text-xs">Manage and change your notifications</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "EventGroupsListHeader",
  props: {
    showSettingsWindow : {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      showSettings: false
    }
  },
  mounted() {
    this.showSettings = this.showSettingsWindow
  },
  computed: {

  },
  watch: {
    showSettings: function() {
      this.$emit('update:showSettingsWindow', this.showSettings)
    },
  },
  methods: {

  }
}
</script>

<style scoped>

</style>
