<template>
  <div>
    <h5 class="mb-4 text-sm font-bold">Select a group to make changes</h5>
    <div
      v-for="eventGroup in eventGroups" :key="eventGroup.id"
      @click="eventGroupId = eventGroup.id"
      class="hover:bg-gray-200 rounded-lg -m-2 p-2 mb-2 cursor-pointer"
    >
      <div
        class="flex justify-between items-center"
      >
        <span class="text-sm">{{ eventGroup.name }}</span>
        <img
          :src="require('/assets/images/notifications/arrow-right-black.svg')"
          alt="Arrow"
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "EventGroupsList",
  data() {
    return {
      eventGroupId: null
    }
  },
  created() {

  },
  computed: {
    eventGroups() {
      return this.$store.getters["notification/eventGroups"]
    },
  },
  watch: {
    eventGroupId: function() {
      this.$emit('update:objectId', this.eventGroupId)
      this.$emit('update:objectType', 'eventGroup')
    },
  },
  methods: {

  }
}
</script>

<style scoped>

</style>
